@using Microsoft.AspNetCore.Identity
@using Events.Models.Entities
@using Events.Web.Resources
@using Microsoft.Extensions.Localization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IStringLocalizer<SharedResources> Localizer

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="@Localizer["Nav_Manage"]">@User.Identity?.Name</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">@Localizer["Nav_Logout"]</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">@Localizer["Nav_Register"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">@Localizer["Nav_Login"]</a>
    </li>
}
</ul>
